.mySlides {
  display: none;

}

img {vertical-align: middle; max-width: 100%;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 2rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  margin-top: -22px;
  color: black;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius:50%;
  user-select: none;
}
@media  (min-width:800px) {
  .prev ,.next {
    display: none;
  }
}
/* Position the "next button" to the right */
.next {
  right: 0.5rem;
}
.prev {
  left: 0.5rem;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  opacity: 0.8;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.img-thumb {
  display: none;
  cursor: pointer;
  height: auto;
  width: 6vw;
  margin: 0 2px;
  border-radius: 10px;
  border: 0px;
  overflow: hidden;
}
@media screen and (min-width:500px) {
  .img-thumb {
    display: inline-block;
  }
}

.active, .img-thumb:hover {
  opacity: 0.5;
  outline:2px solid hsl(26, 100%, 55%);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

